{% extends "header.html" %} {% block content %}
<div class="full-screen-section" id="first-section">
  <div class="main-demo mx-auto">
    <div class="demo-title">
      <p class="p-2 m-0">Let's Start</p>
    </div>
    <br />
    <div class="pt-3 px-3">
      <ul
        class="nav nav-pills main-nav-selection m-auto"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link main-nav nav-item-center active"
            id="tab-one"
            data-toggle="pill"
            href="#one"
            role="tab"
            aria-selected="true"
            >Image To Recipe</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link main-nav nav-item-left"
            id="tab-two"
            data-toggle="pill"
            href="#two"
            role="tab"
            aria-selected="false"
            >Name To Recipe</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link main-nav nav-item-right"
            id="tab-three"
            data-toggle="pill"
            href="#three"
            role="tab"
            aria-selected="false"
            >Ingredients To Dishes</a
          >
        </li>
      </ul>
    </div>

    <div class="tab-content pb-3 px-3">
      <!-- Form to upload the image -->
      <div
        aria-labelledby="tab-one"
        class="tab-pane fade show active"
        id="one"
        role="tabpanel"
      >
        <div>
          <form
            id="image-upload-form"
            action="/"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="custom-file file">
              <input
                type="file"
                class="custom-file-input"
                id="file"
                accept="image/png,image/jpeg"
                name="imagefile"
                required
              />
              <label class="custom-file-label" for="file"
                >Upload an image</label
              >
            </div>
            <button type="submit" id="submit-image" class="btn btn-success m-3">
              Get Recipe
            </button>
          </form>
        </div>
      </div>
      <!-- Form To Get Recipes Tab -->
      <div
        aria-labelledby="tab-three"
        class="text-center tab-pane fade"
        role="tabpanel"
        id="two"
      >
        <form action="/" method="POST">
          <div class="input-group demo-input my-4">
            <input
              type="text"
              id="demo-input-recipe"
              class="form-control query-input"
              name="recipe_name"
              placeholder="Enter a dish name."
            />
          </div>
          <button type="submit" id="submit-recipe" class="btn btn-success m-3">
            Get Recipe
          </button>
        </form>
      </div>

      <!-- Ingridient To Get Dishes Tab -->
      <div
        aria-labelledby="tab-one"
        class="text-center tab-pane fade"
        role="tabpanel"
        id="three"
      >
        <form action="/" method="POST">
          <div class="input-group demo-input my-4">
            <input
              type="text"
              id="demo-input"
              class="form-control query-input"
              name="ingridientlist"
              placeholder="Enter the ingredients list."
            />
          </div>
          <button type="submit" id="submit" class="m-3 btn btn-success">
            Get Recipe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% block getrecipe %}{% endblock %} {% block search %}{% endblock %} {% block
home %}{% endblock %} {% endblock %}
