{% extends "home.html" %} {% block home %}
<section class="main-section cards-section text-center snipcss-vjEvd">
	<img src="{{ img }}" alt="Uploaded Food Image" class="img-fluid" style="max-height: 300px; margin-bottom: 20px;">
<div id="info" class="col-md-8">
	<div class="card text-center pb-2">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				{% for i in range(2) %} {% if title[i] != "Not a valid recipe!"
				%}
				<li class="nav-item">
					<a
						class="nav-link {% if i == 0 %}active{% endif %}"
						id="tabbtn{{ i+1 }}"
						href="#"
						onclick="javascript:myFunctab{{ i+1 }}()">
						Recipe {{ i+1 }}
					</a>
				</li>
				{% endif %} {% endfor %}
			</ul>
		</div>

		{% for i in range(2) %} {% if title[i] != "Not a valid recipe!" %}
		<div id="tab{{ i+1 }}" style="{% if i != 0 %}display: none;{% endif %}">
			<div class="card-body" align="left" id="result">
				<h5 class="card-title" align="center">{{ title[i] }}</h5>
				<br />
				<h6>Ingredients :</h6>
				<p class="card-text">{{ ', '.join(ingredients[i]) }}</p>
				<br />
				<h6>Recipe :</h6>
				<ol class="pl-3">
					{% for step in recipe[i] %}
					<li class="card-text">{{ step }}</li>
					{% endfor %}
				</ol>
				<br />
				{% if i == 0 %}
				<p class="card-text">
					<small class="text-muted">Check both the Recipes</small>
				</p>
				{% endif %} {% else %} {{continue}} {% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="loading" style="display: none" class="col-md-8">
		<div class="loader">
			<div class="inner one"></div>
			<div class="inner two"></div>
			<div class="inner three"></div>
			<h4>Loading</h4>
			<h5>Kindly wait for a few seconds</h5>
		</div>
	</div>
</div>
</div>
</section>


{% endblock home %}
